---
import { type CollectionEntry, getCollection } from 'astro:content';
import { render } from 'astro:content';

import { BlogPost } from '@/components/blocks/blog-post';
import DefaultLayout from '@/layouts/DefaultLayout.astro';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { title, description, pubDate, updatedDate, heroImage } = post.data;
const { Content } = await render(post);

// Fetch related posts (3 latest posts excluding the current one)
const allPosts = await getCollection('blog');
const relatedPosts = allPosts
  .filter((p) => p.id !== post.id)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, 3);

---
<DefaultLayout>
	<div class="py-28 lg:pt-44 lg:pb-32">
		<BlogPost post={post} relatedPosts={relatedPosts}>
			<Content />
		</BlogPost>
	</div>
</DefaultLayout>