---
import { getCollection } from 'astro:content';

import { Background } from '@/components/background';

import { BlogPosts } from '@/components/blocks/blog-posts';
import { SITE_TITLE, SITE_DESCRIPTION } from '@/consts';
import DefaultLayout from '@/layouts/DefaultLayout.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION} >
	<Background>
		<div class="container flex max-w-5xl flex-col justify-between gap-8 md:gap-20 lg:flex-row lg:items-center lg:gap-24 xl:gap-24 pt-28 lg:pt-44 lg:pb-16">
			<div class="flex-[1.5]">
				<h1 class="font-display font-bold text-3xl tracking-tight sm:text-4xl md:text-5xl lg:text-6xl">
					Insights on Storytelling
				</h1>

				<p class="text-muted-foreground mt-5 text-2xl md:text-3xl lg:text-4xl">
					Behind-the-scenes insights, storytelling tips, and lessons from the field.
				</p>
			</div>
		</div>
		<div class="pb-28 lg:pb-32">
			<BlogPosts posts={posts} />
		</div>
	</Background>
</DefaultLayout>

