---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import Background from "@/components/Background.astro";

import { Contact as ContactBlock } from '@/components/blocks/contact';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
---
<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Background>
    <div class="container flex max-w-5xl flex-col justify-between gap-8 md:gap-20 lg:flex-row lg:items-center lg:gap-24 xl:gap-24 pt-28 lg:pt-44 lg:pb-16">
      <div class="flex-[1.5]">
        <h1 class="font-display font-bold text-3xl tracking-tight sm:text-4xl md:text-5xl lg:text-6xl">
          Let's Tell Your Story
        </h1>

        <p class="text-muted-foreground mt-5 text-2xl md:text-3xl lg:text-4xl">
          Ready to create a film people actually watch? Let's talk about your project.
        </p>
      </div>
    </div>
    <ContactBlock client:load />
  </Background>
</DefaultLayout>
