---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

import { Background } from '@/components/background';

import { FAQ } from '@/components/blocks/faq';
import { Testimonials } from '@/components/blocks/testimonials';
import { DashedLine } from '@/components/dashed-line';
import DefaultLayout from '@/layouts/DefaultLayout.astro';
---
<DefaultLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Background>
    <div class="container flex max-w-5xl flex-col justify-between gap-8 md:gap-20 lg:flex-row lg:items-center lg:gap-24 xl:gap-24 pt-28 lg:pt-44 lg:pb-16">
      <div class="flex-[1.5]">
        <h1 class="font-display font-bold text-3xl tracking-tight sm:text-4xl md:text-5xl lg:text-6xl">
          Frequently Asked Questions
        </h1>

        <p class="text-muted-foreground mt-5 text-2xl md:text-3xl lg:text-4xl">
          If you can't find what you're looking for, get in touch.
        </p>
      </div>
    </div>
    <FAQ
      client:only='react'
      className="pb-28 text-center lg:pb-32"
      className2="max-w-xl lg:grid-cols-1"
      hideHeader={true}
    />
    <DashedLine className="mx-auto max-w-xl" />
  </Background>
</DefaultLayout>
