---
import BaseHead from '@/components/BaseHead.astro';
import { Navbar } from '@/components/sections/navbar';
import { Footer } from '@/components/sections/footer';
import Banner from '@/components/sections/banner';

const { title, description } = Astro.props;
---

<html lang="en">
    <head>		
        <BaseHead title={title} description={description}  />
    </head>
    <body class={`h-screen antialiased`}
    >
        <Banner client:only="react" url="https://www.shadcnblocks.com/template/mainline?bundle=astro" />
        <Navbar currentPage={Astro.url.pathname} client:only='react' />
        <main><slot /></main>
        <Footer />
    </body>
</html>
